.btn-main {
  font-size: $font-size-content;
  text-align: center;
  padding: 8px 20px;
  border: 1px solid $color-border-main;
  background-color: $background-main;
  color: $color-main;
  border-radius: $border-radius;
  cursor: pointer;
}