$colorBorderInput: #ccc;
$color-border-main: #ccc;
$background-main: #000;
$color-main: #fff;
$color-shadow: 0 0 5px rgba(0,0,0,.2);

$font-size-small: 10px;
$font-size-content: 14px;
$font-size-title: 18px;
$font-size-heading: 24px;

$border-radius: 3px;